* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif !important;
}

.navBar {
    background-color: black !important;
    position: relative !important;
   /* position: -webkit-sticky;
    position: sticky;
    top: 0;*/
}

.sign-btn{
    background-color: white !important;
    color:black !important;
    transition: color 0.2s;
    margin-left: 1rem !important;
    font-size: 1rem !important; 

}

.sign-btn:hover{
    background-color: rgba(255, 255, 255, 0.25) !important;
}


@media(max-width:810px){
    .text-navbar{
        font-size: 2.5rem !important;
    }
}

@media(max-width:655px){
    .search-div{
        display: flex;
    }
    .input-search{
        width:100% !important;
    }
}