
.innercontainer {
    display: flex;
}

.moviecontainer {
    width: 100%;    
    position: relative;
}

@media (max-width:375px){
    .moviecontainer{
        align-items: flex-start;
        flex-direction: column;
    }
}