
.innercontainer {
    display: flex;
}

.moviecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;     
    position: relative;
}

@media (max-width:375px){
    .moviecontainer{
        align-items: flex-start;
        flex-direction: column;
    }
}