.select-container {
    position: absolute;
    top:0;
    right: 0;

}

@media (max-width:375px){
    .select-container {
        position: relative;
        flex-direction: column;
        max-width:100% !important;
        min-width: 100% !important;
    }
}